{% extends "layout.html" %}
{% block title %}
  <title>hc - lighting</title>
{% endblock %}

{% block body %}
            <div class="header">
                <h1>lighting control</h1>
            </div>

            <div class="content">
              <p>
              <a href="http://iot-atx.lan/leds?kitchen=0">kitchen off</a>
            </br>
            <a href="http://iot-atx.lan/leds?kitchen=500">kitchen 50%</a>
          </br>
          <a href="http://iot-atx.lan/leds?kitchen=1023">kitchen 100%</a>
          </p>
          <p>
          <a href="http://iot-atx.lan/leds?bathroom=0">bathroom off</a>
        </br>
        <a href="http://iot-atx.lan/leds?bathroom=500">bathroom 50%</a>
      </br>
      <a href="http://iot-atx.lan/leds?bathroom=1023">bathroom 100%</a>
      </p>
                <a href="http://iot-rms.lan/light?bdr=1">Turn ON bedroom</a>
              </br>
                <a href="http://iot-rms.lan/light?bdr=0">Turn OFF bedroom</a>
              </br>
                <a href="http://iot-rms.lan/light?bdr0=1">Turn ON bedroom0</a>
              </br>
                <a href="http://iot-rms.lan/light?bdr0=0">Turn OFF bedroom0</a>
              </br>
                <a href="http://iot-rms.lan/light?bdr1=1">Turn ON bedroom1</a>
              </br>
                <a href="http://iot-rms.lan/light?bdr1=0">Turn OFF bedroom1</a>
              </br>
                <a href="http://iot-rms.lan/light?lvr=1">Turn ON living room</a>
              </br>
                <a href="http://iot-rms.lan/light?lvr=0">Turn OFF living room</a>
              </br>
                <a href="http://iot-rms.lan/light?lvr0=1">Turn ON living room0</a>
              </br>
                <a href="http://iot-rms.lan/light?lvr0=0">Turn OFF living room0</a>
              </br>
                <a href="http://iot-rms.lan/light?lvr1=1">Turn ON living room1</a>
              </br>
                <a href="http://iot-rms.lan/light?lvr1=0">Turn OFF living room1</a>
            </div>
{% endblock %}
