{% extends "layout.html" %} {% block title %}
<title>hc - rgb led strips</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme.css') }}" />
{% endblock %} {% block body %}
  <div class="content">
<div id="color-picker" class="cp-default"></div>

<a class="pure-button" onclick="onLedStrip()">on strip</a>
<a class="pure-button" onclick="offLedStrip()">off strip</a>

<form action="">
    <input type="radio" name="roompicker" id="lvr" value="lvr" checked="checked"> living room<br>
    <input type="radio" name="roompicker" id="bdr" value="bdr"> bedroom<br>
</form>
</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='colorpicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='rgb.js') }}"></script>
{% endblock %}
