{% extends "layout.html" %}
{% block title %}
  <title>hc - status</title>
{% endblock %}

{% block body %}
            <div class="header">
                <h1>system status</h1>
            </div>

            <div class="content">
              {{ text }}
              <p>
              <a href="http://iot-atx.lan/">http://iot-atx.lan/</a></br>
              <a href="http://iot-rms.lan/">http://iot-rms.lan/</a></br>
              <a href="http://rgb.lan/">http://rgb.lan/</a></br>
            </p>
          </div>

{% endblock %}
